body{ 
    margin: 0;
    padding: 0;
}

/* Empieza del menu */
#menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}
  
.menu-item {
    padding-left: 35px;
    height: 100%;
    font-weight: bolder;
}

.correo{
    color: yellow;
}

  
.left {
    width: 50%;
    text-align: center;
    background-color: #9f7fe4;
}
.left p{
    font-size: 20px;
    color: rgb(42, 38, 38);
}
  
.right {
    text-align: center;
    width: 50%;
    background-color: #714bc4;
    font-family: 'Montserrat', sans-serif;
}
  



/* Acaba el menu */

.barra{
    width: 70px;
    height: 13px;
    border-radius: 10px;
    display: inline-block;
    background: #4a5497;
}
.barra2{
    width: 70px;
    margin-top: 10px;
    height: 14px;
    border-radius: 10px;
    display: inline-block;
    background: #4a5497;
}


.datos{
    border: 1px solid;
    border-left: 1px solid rgb(225, 225, 225);
    padding-left: 50px;
    display: inline-flex;
    background: rgb(247, 247, 247);
    width: 50%;
    font-family: 'Montserrat', sans-serif;
}
.datos .laboral{
    margin: 25px 55px;
    display: block;
    position: absolute;
    justify-content: center;
}


.datos .estudios{
    display: block;
    position: absolute;
    margin-top: 300px;
    margin-left: 55px;
    
}

.año{
    font-size: 25px;
    font-weight: bold;
}
.instituto{
    color: rgb(158, 159, 159);
    font-size: 20px;
    margin-top: -20px;
}
.materia{
    font-size: 25px;
}
.laboral p, .estudios p{
    width: auto;
    display: block;
    margin-top: -10px;
}
.descripcion{
    display: inline-block;
    width: 400px;
    font-weight: 200;
}

.contenedor{
    width: 100%;
    height: 100%;
    display: inline-flex; 
    margin-right: auto; 
    margin-left:auto;
}


.image{
    background-color: white;
    width: 50%;
    padding-left: 50px;
    margin-top: 10px;
    height: 100%;
}
img{
    margin-top: 30px;
}


.image h3{
    text-transform: uppercase;
    color: black;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
.ocupacion{
    margin-top: -13px;
    color: rgb(171, 181, 191);
}

.dato{
    color: #707fe3;
    font-weight: bold;
}

img{
    border-radius: 15px;
    margin-left: 15px;
}



.git{
    font-size: 25px;
    display: inline-block;
}
.linkedln{
    font-size: 25px;
    display: inline-flex;
    margin-left: 15px;
    
}

.twitter{
    font-size: 25px;
    display: inline-flex;
    margin-left: 15px;
    
}
.instagram{
    font-size: 25px;
    display: inline-flex;
    margin-left: 15px;
    
}
.email{
    font-size: 25px;
    display: inline-flex;
    margin-left: 15px;
    
}

.me h2{
    color: black;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.me p{
    font-size: 20px;
}
.skills{
    border-top: 1px solid;
}


.skills p i{
    padding: 3px;
}
.skills p .primer-star{
    margin-left: 15px;
}


.estrella{
    cursor: pointer;
    color: #ffc400;
}
.vacia{
    color: #a4a4a4;
}

.cvs{
    border-radius: 10px;
    height: 35px;
    width: 120px;
    float: right;
    background: #ab8ded;
    margin-right: 25px;
    margin-top: 15px;
    cursor: pointer;
    transition: 1s all;
}
.cvs:hover{
    background-color: #b59bee;
    color: white;
    transform: scale(1.1);
}

@media screen and (max-width:450px){
    section{
        width: 100%;
        height: 100%;
    }
    .contenedor{
        position: absolute;
        width: 90%;
        display: block;
    }
    .image{
        width: 90%;
    }
    .image img{
        margin: 0 auto;
        margin-left: -35px;
        width: 90px;
        height: 160px;
        float: left;
        margin-right: 10px;        
    }
    .image h3{
        margin-top: 6px;
        display: inline;
        
    }
    .skills{
        border: none;
    }
    .ocupacion{
        margin-top: 12px;
    }
    .image p{
        display: block;
        font-size: 16px;
    }
    .redes{
        float: left;
        margin-left: -10px;
        width: 250px;
    }
    .redes p{
        font-size: 20px;
    }
    .me{
        float: left;
    }
    .datos{
        
        border: none;
        width: auto;
        margin-left: -49px;
        margin-top: 20px;
    }
    .laboral{
        display: block;
    }
    .estudios{
        margin-top: 190px;
        position: absolute;
    }
}